* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0abde3;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.container .weather-content {
    max-width: 600px;
    width: 100%;
    height: fit-content;
    padding: 30px 25px;
    background-color: #f8c291;
    text-align: center;
    margin: 30px;

}

.container .weather-content input {
    width: 80%;
    height: 65px;
    border: none;
    outline: none;
    box-shadow: 0 0 5px;
    padding: 15px;
}

.container .weather-content h1 {
    font-family: sans-serif;
    font-weight: 500;
    font-style: italic;
    margin: 20px;
}